body, html {
    margin:0;
    background:black;
    font-family:sans-serif;
} #main-container {
    display: grid;
    grid-template-areas:
    'menu main main main main main'
    'menu main main main main main'
    'menu main main main main main'
    'menu main main main main main'
    'menu main main main main main'
    'menu main main main main main'
    'menu footer footer footer footer footer'
    'menu footer footer footer footer footer';
    background-color:hsl(209, 71%, 54%);
    height:99vh;
} #leftColumn {
    grid-area:menu;
    text-align:center;
} .leftControls {
    margin:0;
    background:hsl(143, 91%, 70%);
    display:flex;
    justify-content:space-around;
} #stdPitch {
    width:4em;
    text-align:center;
}
#dragonDrop {
    width:5em;
    margin:auto;
    background:grey;
}
#range {
    width:4em;
}
#stairButtons {
    display:flex;
    justify-content:space-around; 
    
}      
#stairsInside {
    display:grid;
    grid-template-columns: auto auto;
    overflow:scroll;
    height:77vh;
    margin:1.1em;
    position:absolute;
    width:16vw;
}

.harmonics {
    border:solid black 1px;
}

#interface { 
    grid-area: main; 
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    background:black;
    width:fit-content;
    height:100%;
    width:auto;
}


.keyNames, .fractions, .decimals, .values {
width:5em;
height:2em;
text-align:center;
background:aquamarine;
border:solid 1px white;
}

.tiles {
width:fit-content;
display:flex;
flex-direction:column;
justify-content:space-around;
margin:auto;
height:7em;
border:solid black .1em;
}




#footer {
    border:solid 2px black;
}

.effects {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    background:#bbb;
}

#volumeBox, #waveBox {
    text-align:center;
}

#biquadFrequency {
    width:4em;
    text-align:center;
}

.compressors {
    width:8em;
    height:1.5em;
}

#footer { 
    grid-area: footer; 
    display:flex;
    justify-content:space-around;
}